\.venv/
analytics_project/outputs/
analytics_project/*.log
__pycache__/
*.pyc
.ipynb_checkpoints/
*.sqlite
*.db
/.mypy_cache/
.pytest_cache/
env/
venv/
*.egg-info/
dist/
build/
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/